.direction_control
{
	display: grid;
	grid-template-areas:
	'toggle dial dial dial dial dial';
	padding: 0px;
}

.direction_control_dial
{
	grid-area: dial;
    position: right;
    width: 100%;
   	height: 100%; 
    padding: 0px;	
}

#direction_knob {
    margin: auto;
    width: 125px;
    padding: 10px;
}

.direction_control_toggle
{
	grid-area: toggle;
	position: left;
    width: 100%;
   	height: 100%; 
    padding: 0px;
/*	border: 3px solid red; */
}

/* switch based on https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch */


.switch {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 50%; 
  width: 100%;
  left: 0;
  bottom: 2%;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateY(-92%);
  -ms-transform: translateY(-92%);
  transform: translateY(-92%);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
