<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Alate</title>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Optional meta tags -->
    <meta name="description" content="An Operator Station for Swarming Agents">
    <meta name="author" content="dave">
    
    <!-- Distribution Includes -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="http://yui.yahooapis.com/3.18.1/build/yui/yui-min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_key }}"></script>


    <!-- Static Custom Look & Feel -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'agent/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'agent/grid.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'agent/collapsible.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'agent/direction_control.css' %}" />
	<link rel="shortcut icon" href="{% static 'agent/favicon.ico' %}" />
    <script src="{% static 'agent/knob_customization.js' %}"></script>
    <script src="{% static 'agent/collapsible.js' %}"></script>
    <script src="{% static 'agent/main.js' %}"></script>
    <script src="{% static 'agent/map.js' %}"></script>
    
	<!-- On document load, ready all JS functionality -->
	<script>
	$(document).ready(function()
	{
		$("#direction_value").hide()
		$("#beacon").hide()

		var coll = document.getElementsByClassName("collapsible");
		var i;
		for (i = 0; i < coll.length; i++)
		{
			MakeCollapsible(coll[i]);
		}

		$("#status").hide()
	    $("#status").click(function(event)
	   	{
	    	event.preventDefault();
	    	if (document.getElementById("directionCheck").checked)
	    	{
	    		$.post("{% url 'agent:set_direction' %}", 
	    		{
	    			direction: $("#direction_value").val(),
	    			csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val()
	    		},
	    		function(response)
	    		{
	    			UpdateStatus(response);
	    		});	 
	    	}
	    	else
	    	{
				$.get("{% url 'agent:update' %}", function(response)
	    		{
	    			UpdateStatus(response);
	    		});	  	
	    	}  
	    });
		
		$("#takeoff").click(function(event)
	   	{
	    	event.preventDefault();
    		$.post("{% url 'agent:takeoff' %}",
				{
					csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val()
				}
			);
	    });
		
		$("#land").click(function(event)
	   	{
	    	event.preventDefault();
    		$.post("{% url 'agent:land' %}",
				{
					csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val()
				}
			);
	    });
		
		$("#RTL").click(function(event)
	   	{
	    	event.preventDefault();
    		$.post("{% url 'agent:rtl' %}",
				{
					csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val()
				}
			);
	    });
		
		var agentData = document.getElementsByClassName("agent_data")
		if (0 < agentData.length)
		{
			SetupMap(Number(agentData[0].querySelector("#lat").innerHTML), Number(agentData[0].querySelector("#lon").innerHTML));
		}
		else{
			SetupMap();
		}
		
		
	    window.setInterval(function(){
	    	document.getElementById("status").click();
	    	}, 1000);
	});
	</script>
  </head>
  
  <body>
  	<div class="grid-container" id="main_container">
  		<div class="header">
  			<h2>Control the Swarm</h2>
  		</div>
  		<div class="left" id="AgentList" style="background-color:#aaa;">
  			<h2>Active Agents</h2>
  			<form action="{% url 'agent:reset_agents' %}" method="post">
  				{% csrf_token %}</input>
  				<input class="full_width" type="submit" value="Reset Agent Table" />
  			</form>
  			{% if agent_list %}
  				{% for agent in agent_list %}
  			<button class="collapsible" id="{{ agent }}">{{ agent }}</button>
  			<div class="agent_data" id="{{ agent }} data">
  				<table>
  					<tr>
  						<th>Client Time Stamp:</th><td id="client_timestamp">{{ agent.client_timestamp | date:"Y-m-d H:i:s.u" }}</td>
  					</tr>
  					<tr>
  						<th>Server Reception Time:</th><td id="server_timestamp">{{ agent.server_timestamp | date:"Y-m-d H:i:s.u" }}</td>
  					</tr>
  					<tr>
  						<th>Latitude:</th><td id="lat">{{agent.latitude}}</td>
  					</tr>
  					<tr>
  						<th>Longitude:</th><td id="lon">{{agent.longitude}}</td>
  					</tr>
  					<tr>
  						<th>Altitude:</th><td id="alt">{{agent.altitude}}</td>
  					</tr>
  					<tr>
  						<th>Azimuth:</th><td id="azi">{{agent.azimuth}}</td>
  					</tr>
  					<tr>
  						<th>Armed:</th><td>{{agent.armed}}</td>
  					</tr>
  					<tr>
  						<th>Battery Voltage:</th><td>{{agent.bat_volt}}</td>
  					</tr>
  					<tr>
  						<th>GPS Fix:</th><td>{{agent.gps_fix}} </td>
  					</tr>
  					<tr>
  						<th>GPS HDOP:</th><td>{{agent.gps_hdop}}</td>
  					</tr>
  					<tr>
  						<th>Mode:</th><td>{{agent.mode}}</td>
  					</tr>
  					<tr>
  						<th>Low Level Control Message:</th><td>{{agent.llc_message}}</td>
  					</tr>
  					<tr>
  						<th>Low Level Control State:</th><td id="llc_state">{{agent.llc_state}}</td>
  					</tr>
  					<tr>
  						<th>High Level Control State:</th><td id="hlc_state">{{agent.hlc_state}}</td>
  					</tr>
  					<tr>
  						<th>Mission Control State:</th><td id="mc_state">{{agent.mc_state}}</td>
  					</tr>
  				</table>
			</div>
				{% endfor %}
			{% else %}
			<p>No active agents.</p>
			{% endif %}
  		</div> <!-- AgentList -->
  		<div class="middle" id="Display" style="background-color:#bbb;">
			<div id="map"></div>
  		</div><!-- Display -->  
		<div class="right" id="Action" style="background-color:#ccc;">
			<h2>Actions</h2>
			<form action="{% url 'agent:takeoff' %}" method="post"  id="takeoff">
				{% csrf_token %}</input>
				<input class="full_width" type="submit" value="Take off!" />
			</form>
			
			<div class="direction_control">
				<div class="direction_control_toggle">
					<label class="switch">
						<input type="checkbox" id="directionCheck"/>
						<span class="slider"></span>
					</label>
				</div>
				<div class="direction_control_dial">
					<div  class="yui3-skin-sam"> <!-- You need this skin class -->
						<div id="direction_knob"></div>
					</div>
				</div>
				<input id="direction_value" type="text" value=""/>
			</div>
			
			<form action="{% url 'agent:land' %}" method="post" id="land">
				{% csrf_token %}</input>
				<input class="full_width" type="submit" value="Land" />
			</form>
				
			<form action="{% url 'agent:rtl' %}" method="post" id="RTL">
				{% csrf_token %}</input>
				<input class="full_width" type="submit" value="Return To Launch" />
			</form>
			
			<form action="{% url 'agent:update' %}" method="get" id="status">
				<input class="full_width" type="submit" value="Get Status" />
			</form>
			
			<form action="{% url 'agent:beacon' %}" method="post" id="beacon">
				{% csrf_token %}</input>
				<input class="full_width" type="text" name="lat" id="beacon_lat"/>
				<input class="full_width" type="text" name="lon" id="beacon_lon"/>
				<input class="full_width" type="submit" value="Beacon" />
			</form>

	  	</div><!-- Action -->
	  	<div class="footer">
	  		<p>© 2018 David Dovrat - IIT License</p>
	  	</div>
	</div><!-- main_container -->
  </body>
  
</html>
