<div class="left" id="AgentList" style="background-color:#aaa;">
	<h2>Active Agents</h2>
	<form action="{% url 'agent:reset_agents' %}" method="post">
		{% csrf_token %}</input>
		<input class="full_width" type="submit" value="Reset Agent Table" />
	</form>
	<div id="server_time">{{server_time | date:"Y-m-d H:i:s.u"}}</div>
	{% if agent_list %}
		{% for agent in agent_list %}
	<button class="collapsible" id="{{ agent }}">{{ agent }}</button>
	<div class="agent_data" id="{{ agent }} data">
  				<table>
  					<tr>
  						<th>Client Time Stamp:</th><td id="client_timestamp">{{ agent.client_timestamp | date:"Y-m-d H:i:s.u" }}</td>
  					</tr>
  					<tr>
  						<th>Server Reception Time:</th><td id="server_timestamp">{{ agent.server_timestamp | date:"Y-m-d H:i:s.u" }}</td>
  					</tr>
  					<tr>
  						<th>Latitude:</th><td id="lat">{{agent.latitude}}</td>
  					</tr>
  					<tr>
  						<th>Longitude:</th><td id="lon">{{agent.longitude}}</td>
  					</tr>
  					<tr>
  						<th>Altitude:</th><td id="alt">{{agent.altitude}}</td>
  					</tr>
  					<tr>
  						<th>Azimuth:</th><td id="azi">{{agent.azimuth}}</td>
  					</tr>
  					<tr>
  						<th>Armed:</th><td>{{agent.armed}}</td>
  					</tr>
  					<tr>
  						<th>Battery Voltage:</th><td>{{agent.bat_volt}}</td>
  					</tr>
  					<tr>
  						<th>GPS Fix:</th><td>{{agent.gps_fix}} </td>
  					</tr>
  					<tr>
  						<th>GPS HDOP:</th><td>{{agent.gps_hdop}}</td>
  					</tr>
  					<tr>
  						<th>Mode:</th><td>{{agent.mode}}</td>
  					</tr>
  					<tr>
  						<th>Low Level Control Message:</th><td>{{agent.llc_message}}</td>
  					</tr>
  					<tr>
  						<th>Low Level Control State:</th><td id="llc_state">{{agent.llc_state}}</td>
  					</tr>
  					<tr>
  						<th>High Level Control State:</th><td id="hlc_state">{{agent.hlc_state}}</td>
  					</tr>
  					<tr>
  						<th>Mission Control State:</th><td id="mc_state">{{agent.mc_state}}</td>
  					</tr>
  				</table>
	</div>
		{% endfor %}
	{% else %}
	<p>No active agents.</p>
	{% endif %}
</div> <!-- AgentList -->
